html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
    min-height: 100vh;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}

.nav-scroller .nav {
    color: rgba(255, 255, 255, 0.75);
}

.nav-scroller .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
    color: #6c757d;
}

.nav-scroller .nav-link:hover {
    color: #007bff;
}

.nav-scroller .active {
    font-weight: 500;
    color: #343a40;
}

.bg-purple {
    background-color: #6f42c1;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.dropdown-menu {
    margin: 4rem auto;
}

.dropdown-item-danger {
    color: var(--bs-red);
}
.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
    color: #fff;
    background-color: var(--bs-red);
}
.dropdown-item-danger.active {
    background-color: var(--bs-red);
}

.btn-hover-light {
    background-color: var(--bs-white);
}
.btn-hover-light:hover,
.btn-hover-light:focus {
    color: var(--bs-blue);
    background-color: var(--bs-light);
}

.cal-month,
.cal-days,
.cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}
.cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
}
.cal-weekday,
.cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
}
.cal-btn:not([disabled]) {
    font-weight: 500;
}
.cal-btn:hover,
.cal-btn:focus {
    background-color: rgba(0, 0, 0, 0.05);
}
.cal-btn[disabled] {
    border: 0;
    opacity: 0.5;
}

.form-control-dark {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.15);
}

.w-220px {
    width: 220px;
}

.w-280px {
    width: 280px;
}

.w-340px {
    width: 340px;
}

.w-600px {
    width: 600px;
}

.no-whitespace tr,
.no-whitespace td,
.no-whitespace th {
    white-space: nowrap;
}

.dropdown-without-icon::after {
    display: none;
}
